.mainContainer{
    width: 100%;
    height: 100vh;
    background: #c9f5c9;
    padding: 10px 0;
    overflow-y: auto;
}

#sourceBest{
    text-align: center;
    color:blue;
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: 0.3rem;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.error{
    background-image: url("../../img/error.jpg");
    background-size: contain;
    text-align: center;
}

.mainContainer ul{
    list-style-type: none;
    display: contents;
    > li{
        margin: 15px 15px;
    }
}

@media (min-width:600px) {
    .mainContainer{
        position: relative;
        max-width: 420px;
        left: 180px;
        width: auto;
    }
}

@media (min-width:768px) {
    .mainContainer{
        max-width: 589px;
    }
}

@media (min-width: 1024px) {
    .mainContainer{
       max-width: 845px;
    }
}

@media (min-width: 1440px) {
    .mainContainer{
       max-width: 1260px;
    }
}