.mainContainer{
    width: 100%;
    height: 100vh;
    background: #c9f5c9;
    padding: 10px 0;
    overflow-y: auto;
}

.mainContainer ul{
    list-style-type: none;
    display: contents;
    > li{
        margin: 15px 15px;
    }
}

@media (min-width:600px) {
    .mainContainer{
        position: relative;
        max-width: 538px;
        left: 230px;
       
    }
}

@media (min-width: 1024px) {
    .mainContainer{
       max-width: 795px;
    }
}

@media (min-width: 1440px) {
    .mainContainer{
       max-width: 1210px;
    }
}